---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Stats Widget ****************** -->

  <Content
    isReversed
    tagline="About us"
    title='"A nice slogan"'
    image={{
      src: '~/assets/images/hands.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Built with the best standards</h3>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti quas qui voluptates beatae veritatis. Architecto
      nisi iure ratione nemo! Fugiat, incidunt. Libero dolores qui facere nobis dicta. Velit, aliquid soluta! Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Deleniti quas qui voluptates beatae veritatis. Architecto nisi iure ratione
      nemo! Fugiat, incidunt. Libero dolores qui facere nobis dicta. Velit, aliquid soluta! Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Deleniti quas qui voluptates beatae veritatis. Architecto nisi iure ratione nemo! Fugiat, incidunt.
      Libero dolores qui facere nobis dicta. Velit, aliquid soluta!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get a quote',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Casa Concepts </span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
