---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Stats Widget ****************** -->

  <Content
    isReversed
    tagline="About us"
    title='"Building dreams one step at a time"'
    image={{
      src: '~/assets/images/hands.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">With only the best quality</h3>
At Casa Concepts, every project is a testament to our commitment to excellence. We adhere to the highest industry standards, ensuring quality, durability, and precision in every detail. From the materials we select to the techniques we apply, our goal is to exceed expectations and deliver spaces that inspire. With a focus on innovation and craftsmanship, we build not just structures, but trust and satisfaction. Experience the difference of working with the best.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    title="Statistics about us"
    subtitle="Experienced and capable"
    stats={[
      { title: 'Offices', amount: '2' },
      { title: 'Years of Experience', amount: '37' },
      { title: 'Projects', amount: '1000' },
      { title: 'Clients', amount: '700' },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get a quote',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Casa Concepts </span>
    </Fragment>

    <Fragment slot="subtitle">
      Don't hesitate to contact us!
    </Fragment>
  </CallToAction>
</Layout>
