---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Services from '~/components/widgets/Services.astro';
import { getPermalink } from '~/utils/permalinks';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils.ts';

let lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const metadata = {
  title: 'Casa Concepts —  Property maintenance & Renovation',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Ask for a Quote',
        href: getPermalink('/contact'),
        target: '_blank',
      },
      { text: 'Learn more', href: getPermalink('/about') },
    ]}
    image={{ src: '~/assets/images/hero_main.jpg', alt: 'House Hero Image' , layout: "cover"}}
  >
    <Fragment slot="title">
      <span class = "text-heading">Building dreams </span>
      <span class="text-accented dark:text-white highlight"> one step at a time </span>
    </Fragment>

    <!-- <Fragment slot="subtitle"> -->
      <!-- <span class="hidden sm:inline"> -->
      <!--   <span class="font-semibold">Casa Concepts </span> Something something something something something :))).</span -->
      <!-- > -->
      <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600">Casa Concepts : slogan.</span> -->
      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto eum doloremque fugiat eius assumenda esse? Perspiciatis -->
      <!-- vitae molestias maxime recusandae eligendi vero, voluptatem ipsam, ex minima assumenda aspernatur voluptatum. -->
    <!-- </Fragment> -->
  </Hero>

  <Services
    id="services"
    tagline="Services"
    title="What we can help you with"
    subtitle="At Casa Concepts, we are dedicated to remodelling and redesigning interiors, creating unique environments that reflect the personality and needs of our clients."
    classes = {{container: "text-justify"}}
    items={[
      {
        title: 'Construction',
        description:
          'We offer bespoke construction services, turning ideas into reality. From planning to final delivery, we ensure high-quality execution with attention to detail and adherence to deadlines. Whether it’s a new build or an extension, we create spaces that combine functionality and design.',
        image: '~/assets/images/construction.jpg',
        href: getPermalink('/services') + '#construction',
      },
      {
        title: 'Swimming pools',
        description:
          'Add a special touch to your property with our pool construction and renovation solutions. We design pools that combine style, durability, and efficiency, tailored to each client’s needs. From modern structures to classic designs, we guarantee a stunning oasis in your backyard',
        image: '~/assets/images/pool.jpg',
        href: getPermalink('/services' + '#pools'),
      },
      {
        title: 'Refurbishing',
        description:
          'Transform your space with our refurbishment services. At Casa Concepts, we revitalise interiors and exteriors, preserving the essence of your property while adding modernity and functionality. Each project is handled with the utmost attention to exceed expectations',
        image: '~/assets/images/refurb.jpg',
        href: getPermalink('/services') + '#refurbishing',
      },
      {
        title: 'Painting',
        description:
          'We enhance the beauty of your spaces with professional painting services. Using high-quality materials and precise application techniques, we deliver flawless finishes, whether for interiors or exteriors. Add colour and life to your project with Casa Concepts.',
        image: '~/assets/images/paint.jpg',
        href: getPermalink('/services') + '#paint',
      },
      {
        title: 'Insulation',
        description:
          "Improve the comfort and energy efficiency of your home with our insulation solutions. We offer innovative methods to reduce energy loss, ensure optimal temperatures, and lower heating and cooling costs. A smart and sustainable investment for the future.",
        image: '~/assets/images/insulation.jpg',
        href: getPermalink('/services') + '#insulation',
      },
      {
        title: 'New Projects, New Dreams',
        description:
          'Each project is an opportunity to create something unique and special. At Casa Concepts, we believe every build is more than just construction – it’s the realisation of dreams. Whether it’s a renovation, a pool, or a new build, we work to bring your ideas to life with dedication, quality, and innovation. Let’s build your new dreams together!',
        image: '~/assets/images/house3.jpg',
        href: getPermalink('/services'),
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Standards"
    title="Our standards for service and quality" 
    items={[
      {
        title: 'Clear and Organised Planning',
        description: 'Organisation is essential to avoid delays and surprises.',
      },
      {
        title: 'Compliance with Laws and Regulations',
        description: 'Enjoy the peace of mind knowing your project is 100% compliant.',
      },
      {
        title: 'Sustainable and Economical Solutions',
        description: 'Modern, eco-friendly solutions that make all the difference.',
      },
    ]}
    image={{
      src: '~/assets/images/blueprint.jpg',
      alt: 'Colorful Image',
    }}
  >
    <!-- <Fragment slot="content"> -->
    <!--   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Built with the best standards</h3> -->
    <!--   Gain a competitive advantage by incorporating industry leading practices -->
    <!-- </Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Transparency and Constant Communication',
        description:
          'We are always available to address queries, from the simplest to the most important decisions.',
      },
      {
        title: 'Personalisation and Flexibility',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Commitment to Safety',
        description:
          'Confidence that the team is protected and the project environment is safe for everyone',
      },
    ]}
    image={{
      src: '~/assets/images/concrete.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">We also guarantee</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful services that Casa Concepts offers."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl text-justify' }}
    items={[
      {
        title: 'What is the estimated cost of my project?',
        description:
          "The cost depends on various factors, such as the size of the project, chosen materials, level of customisation, and technical requirements. After an initial and detailed analysis of your needs, we will provide a clear and transparent quote with no surprises.",
      },
      {
        title: 'What is the timeframe for completing the project?',
        description:
          'The timeframe varies depending on the complexity and scale of the project. During the initial planning stage, we establish a detailed schedule outlining all stages of the build, keeping you updated throughout to ensure you are always informed.',
      },
      {
        title: 'What are the steps involved in the construction process?',
        description:
        "The process typically includes: planning and permits, architectural and technical design, land preparation and foundations, structural construction, interior and exterior finishes, final inspection and delivery.",
      },
      {
        title: "Does the company have the required licences and certifications?",
        description:
          "Yes, we are a fully licensed and certified company capable of executing construction projects. We also adhere to all safety standards and local regulations to ensure your project is legally compliant.",
      },
      {
        title: 'How is communication managed during the project?',
        description:
          "We maintain constant communication with our clients through regular meetings, progress reports, and updates via email or phone. We are always available to address any concerns or accommodate new requests.",
      },
      {
        title: 'What guarantees are offered after the project is completed?',
        description:
          "We provide guarantees on the quality of materials and workmanship, in accordance with legal standards. If any issues arise after completion, our team will be available to carry out necessary repairs or adjustments within the warranty period.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clients', amount: '700' },
      { title: 'Projects', amount: '1000' },
      { title: 'Years of Experience', amount: '37' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get a quote',
        href: getPermalink('/contact'),
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Casa Concepts </span>
    </Fragment>

    <Fragment slot="subtitle">
      Building dreams one step at a time
    </Fragment>
  </CallToAction>
</Layout>
