---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Service from '~/components/widgets/Services.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Get the plan that will turn your visions into a reality"
    subtitle="Make your visions come true with our help!"
    actions={[{ variant: 'primary', text: 'Start exploring', href: getPermalink('#list') }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Service
    id="list"
    title="Explore our diverse services"
    subtitle="Discover our selection below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Construction',
        description:
          'By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces.',
        icon: 'tabler:building',
      },
      {
        title: 'Swimming pools',
        description:
          'Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision.',
        icon: 'tabler:pool',
      },
      {
        title: 'Refurbishing',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        icon: 'tabler:building-cog',
      },
      {
        title: 'Insulation',
        description:
          'Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps.',
        icon: 'tabler:snowflake-off',
      },
      {
        title: 'Paint jobs',
        description:
          'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:paint',
      },
      {
        title: 'Business',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="construction"
    items={[
      {
        title: 'Houses',
        description: 'Build houses and stuff',
        icon: 'tabler:circle',
      },
      {
        title: 'Buildings',
        description: 'Build bigger buildings and stuff',
        icon: 'tabler:circle',
      },
      {
        title: 'Villas',
        description: 'Build villas or something',
        icon: 'tabler:circle',
      },
      {
        title: 'Gyms',
        description: 'Build a really big gym and stuff',
        icon: 'tabler:circle',
      },
    ]}
    image={{
      src: '~/assets/images/construction.jpg',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Construction</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    id="pools"
    items={[
      {
        title: 'Indoor pools',
        description: 'Pools but indoor',
        icon: 'tabler:circle',
      },
      {
        title: 'Outdoor pools',
        description: 'pools but outdoors',
        icon: 'tabler:circle',
      },
      {
        title: 'Luxury pools',
        description: 'pools but fancy',
        icon: 'tabler:circle',
      },
    ]}
    image={{
      src: '~/assets/images/pool.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Swimming pools</h3>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    isReversed
    id="refurbishing"
    items={[
      {
        title: 'Home renovations',
        description: 'Renovations of a home',
        icon: 'tabler:circle',
      },
      {
        title: 'Office renovations',
        description: 'Renovations of an office',
        icon: 'tabler:circle',
      },
      {
        title: 'Exterior and Façade',
        description: 'Exterior renovations',
        icon: 'tabler:circle',
      },
      {
        title: 'Ceiling and floor renovations',
        description: 'Ceiling and floor renovations',
        icon: 'tabler:circle',
      },
    ]}
    image={{
      src: '~/assets/images/refurb.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Refurbishing</h3>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    id="insulation"
    items={[
      {
        title: 'Exterior insulation',
        description: 'Renovations of a home',
        icon: 'tabler:circle',
      },
      {
        title: 'Interior insulation',
        description: 'Renovations of an office',
        icon: 'tabler:circle',
      },
      {
        title: 'On-screen insulation',
        description: 'Exterior renovations',
        icon: 'tabler:circle',
      },
    ]}
    image={{
      src: '~/assets/images/insulation.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Insulation</h3>
    </Fragment>
  </Content>
  <!-- Testimonials Widget *********** -->

  <Content
    isAfterContent
    isReversed
    id="paint"
    items={[
      {
        title: 'Exterior paint job',
        description: 'Renovations of a home',
        icon: 'tabler:circle',
      },
      {
        title: 'Interior paint job',
        description: 'Renovations of an office',
        icon: 'tabler:circle',
      },
      {
        title: 'Windows and doors',
        description: 'Exterior renovations',
        icon: 'tabler:circle',
      },
    ]}
    image={{
      src: '~/assets/images/paint.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Paint jobs</h3>
    </Fragment>
  </Content>
  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
        name: 'Emily Kennedy',
        job: 'Person',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
        name: 'Sarah Hansen',
        job: 'Other person',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Contact us',
        href: '/',
      },
    ]}
    title="Get in contact with us"
    subtitle="We are sure to give you a fair price for whatever your needs are"
  />
</Layout>
