---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Service from '~/components/widgets/Services.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Get the plan that will turn your visions into a reality"
    subtitle="Make your visions come true with our help!"
    actions={[{ variant: 'primary', text: 'Start exploring', href: getPermalink('#list') }]}
  />

  <!-- Features2 Widget ************** -->

  <Service
    id="list"
    title="Explore our diverse services"
    subtitle="Discover our selection below"
    columns={2}
    items={[
      {
        title: 'Construction',
        description:
        'We offer bespoke construction services, turning ideas into reality, from planning to final delivery.',
        icon: 'tabler:building',
        href: getPermalink('/services') + '#construction',
      },
      {
        title: 'Swimming pools',
        description:
          'Add a special touch to your property with our pool construction and renovation solutions.',
        icon: 'tabler:pool',
        href: getPermalink('/services') + '#pools',
      },
      {
        title: 'Refurbishing',
        description: 'Transform your space with our refurbishment services.',
        icon: 'tabler:building-cog',
        href: getPermalink('/services') + '#refurbishing',
      },
      {
        title: 'Insulation',
        description:
          'Improve the comfort and energy efficiency of your home with our insulation solutions.',
        icon: 'tabler:snowflake-off',
        href: getPermalink('/services') + '#paint',
      },
      {
        title: 'Painting',
        description:
          'We enhance the beauty of your spaces with professional painting services.',
        icon: 'tabler:paint',
        href: getPermalink('/services') + '#insulation',
      },
      // {
      //   title: 'Business',
      //   description:
      //     'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
      //   icon: 'tabler:building-store',
      //   href: getPermalink('/services'),
      // },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="construction"
    items={[
      {
        title: 'Houses',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Buildings',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Villas',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Gyms',
        icon: 'tabler:checkbox',
      },
    ]}
    image={{
      src: '~/assets/images/construction.jpg',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Construction</h3>
We offer bespoke construction services, turning ideas into reality. From planning to final delivery, we ensure high-quality execution with attention to detail and adherence to deadlines. Whether it’s a new build or an extension, we create spaces that combine functionality and design.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    id="pools"
    items={[
      {
        title: 'Indoor pools',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Outdoor pools',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Luxury pools',
        icon: 'tabler:checkbox',
      },
    ]}
    image={{
      src: '~/assets/images/pool.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Swimming pools</h3>
Add a special touch to your property with our pool construction and renovation solutions. We design pools that combine style, durability, and efficiency, tailored to each client’s needs. From modern structures to classic designs, we guarantee a stunning oasis in your backyard
    </Fragment>
  </Content>

  <Content
    isAfterContent
    isReversed
    id="refurbishing"
    items={[
      {
        title: 'Home renovations',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Office renovations',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Exterior and Façade',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Ceiling and floor renovations',
        icon: 'tabler:checkbox',
      },
    ]}
    image={{
      src: '~/assets/images/refurb.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Refurbishing</h3>
Transform your space with our refurbishment services. At Casa Concepts, we revitalise interiors and exteriors, preserving the essence of your property while adding modernity and functionality. Each project is handled with the utmost attention to exceed expectations
    </Fragment>
  </Content>

  <Content
    isAfterContent
    id="insulation"
    items={[
      {
        title: 'Exterior insulation',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Interior insulation',
        icon: 'tabler:checkbox',
      },
      {
        title: 'On-screen insulation',
        icon: 'tabler:checkbox',
      },
    ]}
    image={{
      src: '~/assets/images/insulation.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Insulation</h3>
Improve the comfort and energy efficiency of your home with our insulation solutions. We offer innovative methods to reduce energy loss, ensure optimal temperatures, and lower heating and cooling costs. A smart and sustainable investment for the future.
    </Fragment>
  </Content>
  <!-- Testimonials Widget *********** -->

  <Content
    isAfterContent
    isReversed
    id="paint"
    items={[
      {
        title: 'Exterior paint job',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Interior paint job',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Windows and doors',
        icon: 'tabler:checkbox',
      },
    ]}
    image={{
      src: '~/assets/images/paint.jpg',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Painting</h3>
We enhance the beauty of your spaces with professional painting services. Using high-quality materials and precise application techniques, we deliver flawless finishes, whether for interiors or exteriors. Add colour and life to your project with Casa Concepts.
    </Fragment>
  </Content>
  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial:
          "Tony did work for us ... & now, we wouldn't use anyone else. He solved a lot of our problems. His work is first rate, he's very knowledgeable, he's tidy & he explains clearly what needs doing ... and he's also a very nice guy. We would not hesitate to recommend his company.",
        name: 'Chris & Ann Reeves',
        image: {
          src: '~/assets/images/person.jpg',
          alt: 'picture',
        },
      },
      {
        testimonial:
          "Tony has been fantastic with our ongoing renovation projects for our house in the Vienne. We recently had our barn roof replaced and shutters installed. The barn was an especially challenging job, which required thorough planning, skills and experience. Tony and his team did a beautiful job and kept us informed every step of the way. I would highly recommend Tony for all of your projects!",
        name: 'Natalie Stewart',
        image: {
          src: '~/assets/images/person.jpg',
          alt: 'picture',
        },
      },
      {
        testimonial:
          "Having contacted Tony at we were really pleased with how quickly he responded, provided a Devis and agreed a date to commence the work. The work was completed quickly and to a very high standard and we are very happy with the result .... would, and do recommend him for plumbing work to our friends and customers",
        name: 'L Hopkins',
        image: {
          src: '~/assets/images/person.jpg',
          alt: 'picture',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Contact us',
        href: getPermalink('/contact'),
      },
    ]}
    title="Get in contact with us"
    subtitle="We are sure to give you a fair price for whatever your needs are"
  />
</Layout>
